@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Thomas' Information";
    ViewData["Header"] = "Thomas Lund's Information";
}

    <!--What I enjoy section-->
    <h3><i class="fa fa-smile-o"></i>&nbsp;Doing something I enjoy: </h3>
    <p id="subtitleEnjoy">
        (petting a soft animal)
        <img style="width:50%; height: fit-content;" src="img/feeding_buffalo.jpg" />
    </p>


    <!--Class Goals Section-->
    <h3><i class="fa fa-thumbs-o-up"></i>&nbsp;Goals for the class</h3>
    <p>
        In this IS 413 class I would like to learn the principles of large-scale web development.
        While I enjoyed building small, dynamic website in Django, I want to be able to do more.
        I want to be able to easily include various website functions in my own personal projects using web programming.
        Additionally, I want to learn many of the tools that Visual Studio provides to make development more efficient.
    </p>
    <br />


    <!--Jobs sections-->
    <h3><i class="fa fa-money"></i>&nbsp;Top 3 jobs I'm interested in</h3>
    <ul>
        <li>Business Intelligence Engineer</li>
        <li>Data Analyst</li>
        <li>Front-end Developer</li>
    </ul>
    <br />

