body {
    margin-top: 15px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 50px;
    background-color: mintcream;
}

nav {
    text-align: center;
    width: 70%;
}

header {
    text-align: center;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-family: 'Arial Unicode MS'
}

img {
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
}

#subtitleEnjoy {
    color: gray;
    font-style: italic;
}

table {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

thead {
    font-weight: bold;
}

td {
    padding: 3px;
}

input {
    margin: 3px;
}

#calculateButton {
    text-align: center;
    width: fit-content;
    margin-left: 40%;
    margin-right: 40%;
    font-weight: bold;
}

#gradeMessage {
    font-weight: bold;
    font-size: 18px;
}

#nav {
    text-align: center;
    font-size: 18px;
}

#calculatorHeader {
    text-align: center;
}